@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
}

main {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5F7FCF;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.0rem;
}

button {
  padding: 8px 32px;
  border-radius: 8px;
  cursor: pointer;
}